.body{
    padding: 10vh 0 10vh 0vh;
    background-color: #1c2536;
    height: 60vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.miInformacion p{
    margin: 0px;
    width: 40vh;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 3vh;
    background: 
    linear-gradient( #ee08db, #8802c7);
    -webkit-background-clip: text;
    color: transparent;
    display: inline-block;
    animation-name: menuNavegacion;
    animation-duration: 2s; 

    
}

.imagenFarid #imgBody{
    height: 65vh;
    opacity: 50%;
    box-shadow: 10px 10px 50px 20px black;
    transition: .5s;
    animation-name: img;
    animation-duration: 3s; 
    

}

@keyframes img{
    0% {opacity: 0%;}
    110% {opacity: 50%;}
}

#imgBody:hover{
    height: 75vh;
}
